<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>register</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServelet</display-name>
    <servlet-name>RegisterServelet</servlet-name>
    <servlet-class>register.app.RegisterServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServelet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServelet</display-name>
    <servlet-name>LogInServelet</servlet-name>
    <servlet-class>register.app.LogInServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServelet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>